/* common */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
    font-size: 15px;
    margin: 0 auto;
}
div{
    word-wrap: break-word;
}
ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
.wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

/* header */
header {
    display: -webkit-box;
    display: flex;
    height: 115px;
}
h1 {
     -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0;
    width: 20%;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
nav {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 80%;
    display: -webkit-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.list-area {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
    margin: 0;
}
.nav-list {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0 40px 0;
}

/* main */
main {
    padding-bottom: 55px;
}
.main-visual {
    height: 520px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.box-wrapper {
    display: -webkit-box;
    display: flex;
}
.boxA {
    width: 70%;
}
.short-list {
    width: 50%;
    height: 200px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.long-list {
    width: 100%;
    height: 270px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.boxB {
    width: 30%;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

/* footer */
footer {
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content:flex-end;
    background: #ccc;
    width: 100%;
    height: 55px;
    bottom: 0;
}
.bannar-area {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    margin: 0;
}
.bannar {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    margin: 0 20px 0;
}
