.sub-visual{
     background:#ffc0cb;
}

gallery{
	margin:500px 0 20px 0;
	text-align:left;
    background:#add8e6;
}

.photo{
   width: 933px;
   hight: 840px;
   margin: 0 auto;
}

ul.rec_box_first li{
	float:left;
	margin:0 0 14px 14px;
	width:153px;
	border:#EEE solid 1px;
	background: #98fb98;
}
ul.rec_box_second li{
	float:left;
	margin:0 0 14px 14px;
	width:153px;
	border:#EEE solid 1px;
	background: #ffa500;
}
ul.rec_box_third li{
	float:left;
	margin:0 0 14px 14px;
	width:153px;
	border:#EEE solid 1px;
	background:#e0ffff;
	
}

.clear{
	clear: both;
}

h3{
margin: 0px;
    padding: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}


