body{
  width: 980px; 

}
main{
  hight: 850px;
}

h1{
  background: black;
  text-align:center;
}

.sub-visual{
  background:#ffc0cb;
}


.first{width:100%;display:flex;justify-content: center;padding:0;list-style: none;}
/*.second{width:100%;display:flex;justify-content: center;padding:0;list-style: none;}*/
.second{width:100%;display:flex;justify-content: left;padding:0;list-style: none;}
.third{width:100%;display:flex;justify-content: center;padding:0;list-style: none;}
.fourth{width:100%;display:flex;justify-content: left;padding:0;list-style: none;}
.fifth{width:100%;display:flex;justify-content: left;padding:0;list-style: none;}


 /* margin: auto auto;
  text-align:left;
  background:#;
*/


.first li{
  margin:0 0 14px 14px;
  width:153px;
  border:#EEE solid 1px;
  /*background: #98fb98;*/
  width:calc(100% / 5);margin:2px;
  text-align:center;
}
.second li{

  margin:0 0 14px 14px;
  width:153px;
  border:#EEE solid 1px;
  /*background: #ffa500;*/
  width:calc(100% / 5);margin:2px;
  text-align:center;
}
.third li{
  margin:0 0 14px 14px;
  width:153px;
  border:#EEE solid 1px;
  /*background:#e0ffff;*/
	width:calc(100% / 5);margin:2px;
  text-align:center;
}
.fourth li{
  margin:0 0 14px 14px;
  width:153px;
  border:#EEE solid 1px;
  /*background:#e0ffff;*/
  width:calc(100% / 5);margin:2px;
  text-align:center;
}
.fifth li{
  margin:0 0 14px 14px;
  width:153px;
  border:#EEE solid 1px;
  /*background:#e0ffff;*/
  width:calc(100% / 5);margin:2px;
  text-align:center;
}

.clear{
  clear: both;
}

#h3{
  margin: 0px;
  padding: 0px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

#y-list{
  float: left;
  font-size: 30px;
  width: 154px;
}
#photo{
  float: right;
  width: 810px;
}
